body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    background: linear-gradient( rgb(0, 0, 0), rgb(43, 4, 4), #460202);
    color: #f0f0f0;
    width: 100% auto;
}

header {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: (rgb(14, 1, 1));
    width: 100% auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 20px;
}

nav a {
    margin-left: 60px;
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    color: #cccccc;
}

.cta-button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1em;
    background-color: #da0000;
    color: rgb(255, 207, 207);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    background-color: #df1010;
}

.cta-button:hover {
    background-color: #720000;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #9b8484;
    background: linear-gradient(bottom right, #550f0f, #921010, #fa1e1e);
    background: linear-gradient( rgb(61, 5, 5), rgb(167, 15, 15), #290404);
    width: 100%;
    bottom: 0 auto;
}

span {
    color: rgb(146, 15, 15);
}

.difuminado {
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 80%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 80%);
}

.img2 {
    width: 70px;
    height: 40px;
}